:root{
    --bg-body-color: rgb(62, 62, 62);
}

/* 
.navbar{
    background-color: black;
} */
body{
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.cuerpo{
    padding: 10rem 10rem 0rem 10rem;
    /* background-color: var(--bg-body-color); */
    height: 100%;
    width: 100%;
}

.carrusel svg{
    /* height: 100%; */
    width: 80%; 
}

/* .cuerpo img{
    height: 100%;
    width: 100%;
    position: relative
} */


