/* 
.navbar{
    background-color: black;
} */


.cuerpo{
    padding: 2rem 10rem;
    background-color: rgb(62, 62, 62);
    height: 100%;

}

.cuerpo img{
    /* height: 100%; */
    width: 100%;
    position: relative
}

