:root{
    --bg-body-color: rgb(30,30,30);
    --bg-card-color: rgb(126, 126, 126);
}

/* 
.navbar{
    background-color: black;
} */
body{
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.cuerpo{
    padding: 5rem 10rem 0rem 10rem;
    /* background-color: var(--bg-body-color); */
    height: 100%;
    width: 100%;
}

.cards{
    background-color: var(--bg-body-color);
}

.card{
    background-color: var(--bg-card-color);
    color: white;    
    border-radius: 10px;
    background-image: linear-gradient(rgb(92, 92, 92), rgb(44, 44, 44), rgb(70, 70, 70));
}

/* .titulos{
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    font-weight: inherit;
    padding: 0;
    line-height: 1.25;
} */

.cards .card a{
    color: white;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0px 6%;
    transition: background-size 1s;

    /* font-size: calc(1.359375rem + 1.3125vw); */
    font-family: "Nunito Sans", sans-serif;
}

a:hover, a:focus {
    background-size: 100% 2px;
}

a:-webkit-any-link {
    cursor: pointer;
}

/* .cuerpo img{
    height: 100%;
    width: 100%;
    position: relative
} */


